* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
@import url("https://fonts.googleapis.com");

.firstBar {
  background-color: #f9e5dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 8px 300px;
}

.firstBar img {
  width: 34px;
  cursor: pointer;
}
.firstBar p,
.firstBar a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}
.SecondBar {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sec1 {
  width: 20%;
}
.sec1 ul,
.sec1 a,
.sec1 li {
  display: flex;
  text-decoration: none;
  padding: 10px 0px 0px 10px;
  marker: none;
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.Second1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 350px;
}
.list ul,
.list li,
.list a {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}
.lastNav {
  display: flex;
  width: 20%;
  margin: 0;
  flex-direction: column;
  align-items: end;
}
.lastNav img {
  width: 22px;
}
.last img {
  width: 100%;
}
.lastList ul,
li {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding-right: 10px;
}
.background {
  width: 100%;
  height: 85vh;
  margin: 0px auto;
  background: url("./images/hero.jpg") center / cover no-repeat;
}
.lastList a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
  align-items: center;
  display: flex;
  gap: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.Section {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SecContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.contentFirst {
  width: 50%;
}
.contentFirst p {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: -130px;
  color: #ffffff;
}
.contentSecond {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentSecond p {
  font-family: "Cormorant", "light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  color: #121313;
}
.SectionTwo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 50px 0px 50px 0px;
}
.TwoContent{
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}
.Two1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.Buts{
  cursor: pointer;
}