* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
@import url("https://fonts.googleapis.com");

.firstBar {
  background-color: #f9e5dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px 8px 300px;
}

.firstBar img {
  width: 34px;
  cursor: pointer;
}
.firstBar p,
.firstBar a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}
.SecondBar {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sec1 {
  width: 20%;
}
.sec1 ul,
.sec1 a,
.sec1 li {
  display: flex;
  text-decoration: none;
  padding: 10px 0px 0px 10px;
  marker: none;
  color: rgba(0, 0, 0, 0.836);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.Second1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 350px;
}
.list ul,
.list li,
.list a {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}
.lastNav {
  display: flex;
  width: 20%;
  margin: 0;
  flex-direction: column;
  align-items: end;
}
.lastNav img {
  width: 22px;
}
.last img {
  width: 100%;
}
.lastList ul,
li {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding-right: 10px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.background img {
  width: 100%;
  height: 100%;
}

.lastList a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
  align-items: center;
  display: flex;
  gap: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.Section {
  width: 100%;
  padding: 50px 0px 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SecContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.contentFirst {
  width: 50%;
}
.contentFirst p {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: -130px;
  color: #ffffff;
}
.contentSecond {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentSecond p {
  font-family: "Cormorant", "light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  color: #121313;
}
.SectionTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 50px 0px 50px 0px;
}
.TwoContent {
  width: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}
.Two1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.Buts {
  cursor: pointer;
  text-transform: uppercase;
  border: solid #f9e5dd;
  border-width: 0px 0px 2px 0px;
  background: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  letter-spacing: 2px;
}
.Two1 p {
  font-size: 24px;
  color: #121313;
  font-family: "Cormorant", "light", serif;
}
.banner {
  width: 100%;
  margin: auto;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bann {
  display: flex;
  align-items: center;
  justify-content: center;
}
.favourite {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 80px 0px;
}
.customerFav {
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}
.cusbut {
  font-size: 30px;
  font-family: serif;
  width: 30%;
  letter-spacing: 5px;
  color: #636766;
  background: none;
  border: none;
  text-transform: uppercase;
}
.cusdiv {
  margin: 20px 0px;
  padding: 0px;
  width: 12%;
  border: solid #f3bda8;
}
.fav1 p {
  font-family: serif;
  color: #121313;
  letter-spacing: 0.8px;
  margin-top: 10px;
  font-size: 16px;
}
.fav1 h4 {
  font-size: 17px;
  color: #636766;
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 0px;
}

.fav1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.fav1 img {
  width: 100%;
  display: block;
}
.badge {
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: #dfafa7;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}
.modest {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modestContent {
  background-image: url(./images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
  gap: 100px;
  padding: 50px 90px;
  align-items: center;
  justify-content: center;
}
.modest1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modest2 {
  width: 50%;
}
.modest1 button {
  background-color: white;
  color: #121313;
  border: none;
  width: 25%;
  margin-top: 20px;
  padding: 15px 0px;
}
.modest1 h4 {
  font-family: "Cormorant", "light", serif;
  width: 90%;
  font-size: 45px;
  color: #525151;
  font-weight: 200;
  line-height: 57px;
  letter-spacing: 7.7px;
  text-transform: uppercase;
}
.modest1 p {
  width: 60%;
  margin-top: 20px;
  font-size: 17px;
  color: #636766;
}
.modest2 img {
  width: 55%;
  transform: rotate(5deg);
}
